<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django | Terms</title>
</head>
<body>
<strong> What is MVT?</strong>
<p>Model view template is a software design pattern.
It is a collection of three component:
    <ul>
    <li><strong>Model : </strong>  it is a data access layer which handles the data.</li>
    <li><strong>View : </strong> The view is used to execute the business logic and interact with model to carry data and render a template.</li>
    <li><strong>Template :</strong>  The template is a presentation layer which handles user interface part completely.</li>

</ul>
</p>
<strong>What is QuerySet?</strong>
<p>A QuerySet is, in essence, a lit of objects of a given Model. QuerySets allow you to read the data
from the database, filter it order it.</p>

<strong>What is object? </strong>

</body>
</html>